#title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#button {
    text-align: center;
}

#board {
    text-align: center;
}

.square {
    background-color: white;
    display:inline-block;
    width: 200px;
    height: 200px;
}

.row {
    margin: 0px 0px 0px 0px;
}

body {
    background-color: gray;
}