#title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#button {
    text-align: center;
}

#board {
    text-align: center;
}

.square {
    background-color: white;
    display:inline-block;
    width: 200px;
    height: 200px;
}

.row {
    margin: 0px 0px 0px 0px;
}

body {
    background-color: gray;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

#xWins {
    margin:50px 50px 50px 50px;
    float:left;
}

#oWins {
    margin:50px 49px 50px 49px;
    float:right;
}